        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
<!--class="active" -->
            <li > <%= link_to 'Pacientes', patients_path %></li>
            <li> <%= link_to 'Especialistas', specialists_path %></li>

          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Fichas</a></li>
          </ul>
          <ul class="nav nav-sidebar">

            <li><%= link_to 'Tipos Metricas', tipos_path %></li>
            <li><%= link_to 'Pruebas', tests_path %></li>
          </ul>
        </div>
